{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
    <link rel="stylesheet" href="{% static 'css/cadastro.css' %}">
    <link rel="stylesheet" href="{% static 'css/alerts.css'%}">
    <link rel="stylesheet" href="{% static 'css/parsley.css' %}">
    
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="{% static 'js/parsley.min.js' %}"></script>
    <script src="{% static 'js/views/cadastro.js' %}"></script>
    <script src="{% static 'js/custom_parsley_validators.js' %}"></script>
</head>
<body>
    <h1>Crie uma conta</h1>
    
    {% if messages %}
        <center>
            <div class="messages">
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }}">
                        {{ message }}
                    </div>
                {% endfor %}
            </div>
        </center>
        {% endif %}

    <form action="{% url 'cadastro' %}" method="post" id="form">
        {% csrf_token %}
        <div class="row" id="row1">
            <div class="box_left">
                <legend>Digite seu Nome:</legend>
                <input type="text" name="nome" value="{{request.POST.nome}}"
                data-parsley-required="true"
                data-parsley-pattern="^[a-zA-ZÀ-ÖØ-öø-ÿ]+(\s[a-zA-ZÀ-ÖØ-öø-ÿ]+)*$"
                data-parsley-trigger="change"
                data-parsley-required-message="Campo Obrigatório"
                data-parsley-error-message="Entre um nome válido"
                >
            </div>
            <div class="box_right">
                <legend>Digite seu CPF:</legend>
                <input type="text" name="cpf" id="cpf" value="{{request.POST.cpf}}"
                data-parsley-required="true"
                data-parsley-pattern="/[0-9]{3}\.[0-9]{3}\.[0-9]{3}\-[0-9]{2}/"
                data-parsley-error-message="Entre um cpf válido."
                data-parsley-required-message="Campo Obrigatório"
                data-parsley-trigger="change"
                maxlength="14"
                >
            </div>
        </div>
        <div class="row">
            <div class="box_left">
                <legend>Digite seu Email:</legend>
                <input type="email" name="email" value="{{request.POST.email}}"
                data-parsley-trigger="change" data-parsley-error-message="Entre um e-mail válido."
                data-parsley-required="true"
                >
            </div>
            <div class="box_right">
                <legend>Digite seu Endereço:</legend>
                <input type="text" name="endereco" value="{{request.POST.endereco}}"
                data-parsley-required="true" maxlength="100"
                data-parsley-required-message="Campo obrigatório."
                data-parsley-trigger="change"
                >
            </div>
        </div>
        <div class="row">
            <div class="box_left">
                <legend>Qual é seu gênero?</legend>
                <select name="genero" id="genero"
                data-parsley-required="true"
                data-parsley-trigger="change"
                data-parsley-required-message="Campo obrigatório.">

                    <option selected disabled value="">Selecione...</option>
                    {% for genero in generos %}
                    <option value="{{genero.pk}}">{{genero}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="box_right">
                <legend>Crie uma senha:</legend>
                <input type="password" name="senha"
                maxlength="19"
                data-parsley-required="true"
                data-parsley-trigger="change"
                data-parsley-required-message="Campo obrigatório.">
            </div>
        </div>
        <div class="row" id="last">
            <button id="save_btn" type="submit">Finalizar Cadastro</button>
        </div>
    </form>
</body>
</html>