{% load static %}
{% load money_field %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Saldo</title>
    <link rel="stylesheet" href="{% static 'css/saldo.css' %}">
</head>
<body>
    
    <div class="top">
        <h1>Bem vindo, {{usuario.username}}</h1>
        <form action="{% url 'saldo' usuario.pk %}" method="post">
            {% csrf_token %}
            <button type="submit" class="exit">Sair</button>
        </form>
    </div>

    <h2>Seu saldo: R${{ usuario.saldo|format_money }}</h2>

    <table>
        <tbody>
            <tr class="row1">
                <td class="col1">
                    <a href="">
                        <button>
                            Cadastrar Chave PIX
                        </button>
                    </a>
                </td>
                <td class="col2">
                    <a href="{% url 'saque' usuario.pk %}">
                        <button>Sacar</button>
                    </a>
                </td>
            </tr>
            <tr class="row2">
                <td class="col1">
                    <a href="">
                        <button>Realizar PIX</button>
                    </a>
                </td>
                <td class="col2">
                    <a href="{% url 'deposito' usuario.pk %}">
                        <button>Depositar</button>
                    </a>
                </td>
                <td class="col3">
                    <a href="">
                        <button>Histórico</button>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
</body>
</html>