{% load static %}
{% load money_field %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Saque</title>
    <link rel="stylesheet" href="{% static 'css/saque_deposito.css' %}">
    <link rel="stylesheet" href="{% static 'css/alerts.css' %}">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="{% static 'js/parsley.min.js' %}"></script>
    <script src="{% static 'js/views/saque_deposito.js' %}" ></script>
</head>
<body>
    <h1>Digite o valor a ser sacado</h1>
    {% if messages %}
        <center>
            <div class="messages">
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }}">
                        {{ message }}
                    </div>
                {% endfor %}
            </div>
        </center>
        {% endif %}

    <form action="{% url 'saque' usuario.pk%}" method="post">
        {% csrf_token %}
        <div class="box_input">
            <h2>R$</h2>
            <input type="text" name="saque" id="money" value="{{ request.POST.saque }}">
        </div>

        <button type="submit">Sacar</button>
    </form>
</body>
</html>