{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="{% static 'js/historico.js' %}"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
</head>
<body>
    <center>
        <h1>Histórico</h1>
        <table id="historico" class="display">
            <thead>
                <tr>
                    <th>Transferências</th>
                    <th>Valor</th>
                    <th>Data e Horário</th>
                </tr>
            </thead>
            <tbody>
                {% for transferencia in transferencias %}
                <tr>
                    <td>{{ transferencia.get_tipo_display }}</td>
                    <td>R$ {{ transferencia.valor|format_money }}</td>
                    <td>{{ transferencia.data|format_datetime }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </center>
</body>
</html>