@import url('fonts.css');

body{
    background-color: #6877FF;
}

h1{
    color: #FFF;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bold;
    font-size: 96px;
}

button{
    background-color: #FDBA38;
    font-size: 30px;
    border: none;
    width: 320px;
    height: 80px;
    font-family: 'AbeeZee', Arial, Helvetica, sans-serif;
    cursor: pointer;
    margin-bottom: 40px;
}

table{
    background-color: #FFF;
    border-color: rgba(0, 0, 0, 0.34);
    justify-content: center;
    text-align: center;
    font-family: 'Jost', sans-serif;
    color: black;
    border-style: solid;
    border-collapse: collapse;
}

div#historico_wrapper
{
    width: 97%;
}

thead{
    font-size: 36px;
    font-weight: medium;
}

td{
    text-align: center;
}

tbody{
    font-size: 32px;
    font-weight: regular;
}

tr{
    border-bottom: 2px solid rgba(0, 0, 0, 0.34);
    height: 66px;
    padding: 400px;
}

.back{
    margin-left: 970px;
    margin-top: 50px;
}


.saque
{
    color: #FF2B2B;
}

.deposito
{
    color: #0AAE17;
}


table.dataTable thead > tr > th.dt-orderable-asc span.dt-column-order:before, table.dataTable thead > tr > th.dt-orderable-asc span.dt-column-order:after, table.dataTable thead > tr > th.dt-orderable-desc span.dt-column-order:before, table.dataTable thead > tr > th.dt-orderable-desc span.dt-column-order:after, table.dataTable thead > tr > th.dt-ordering-asc span.dt-column-order:before, table.dataTable thead > tr > th.dt-ordering-asc span.dt-column-order:after, table.dataTable thead > tr > th.dt-ordering-desc span.dt-column-order:before, table.dataTable thead > tr > th.dt-ordering-desc span.dt-column-order:after, table.dataTable thead > tr > td.dt-orderable-asc span.dt-column-order:before, table.dataTable thead > tr > td.dt-orderable-asc span.dt-column-order:after, table.dataTable thead > tr > td.dt-orderable-desc span.dt-column-order:before, table.dataTable thead > tr > td.dt-orderable-desc span.dt-column-order:after, table.dataTable thead > tr > td.dt-ordering-asc span.dt-column-order:before, table.dataTable thead > tr > td.dt-ordering-asc span.dt-column-order:after, table.dataTable thead > tr > td.dt-ordering-desc span.dt-column-order:before, table.dataTable thead > tr > td.dt-ordering-desc span.dt-column-order:after {
    line-height: 40px;
}

div.dt-info, input#dt-search-0, label, select
{
    font-size: 30px;
    font-family: 'Jost', sans-serif;
    color: black;
}

li > a
{
    font-size: 30px;
    font-family: 'Jost', sans-serif;
}

table.dataTable th.dt-type-numeric, table.dataTable th.dt-type-date, table.dataTable td.dt-type-numeric, table.dataTable td.dt-type-date {
    text-align: center;
}