@import url('fonts.css');

body{
    background-color: #6877FF;
    text-align: center;
}

h1{
    color: #FFF;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bold;
    font-size: 96px;
}

h2{
    color: black;
    font-family: 'Jost', sans-serif;
    font-weight: medium;
    font-size: 50px;
    margin: 0 0 0 0;
}

button{
    background-color: #FDBA38;
    font-size: 30px;
    border: none;
    width: 320px;
    height: 80px;
    font-family: 'AbeeZee', Arial, Helvetica, sans-serif;
    cursor: pointer;
    margin-top: 50px;
    margin-left: 300px;
}

.box_input{
    margin-top: 60px;
    display: flex;
    text-align: center;
    justify-content: center;
    margin-bottom: 50px;
    margin-right: 150px;
}

input{
    font-family: 'AbeeZee', sans-serif;
    outline: none;
    width: 395px;
    height: 67px;
    font-size: 40px;
}

legend{
    font-size: 50px;
    color: black;
    font-family: 'AbeeZee', sans-serif;
}

.container{
    display: flex;
    text-align: center;
    margin-left: 200px;
}

.bottom_container{
    display: flex;
    margin-left: 250px;
}