@import url('fonts.css');

body{
    background-color: #6877FF;
    text-align: center;
}

h1{
    color: #FFF;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bold;
    font-size: 96px;
}

h2{
    color: black;
    font-family: 'Jost', sans-serif;
    font-weight: medium;
    font-size: 80px;
}

button{
    background-color: #FDBA38;
    font-size: 30px;
    border: none;
    width: 320px;
    height: 80px;
    font-family: 'AbeeZee', Arial, Helvetica, sans-serif;
    cursor: pointer;
}

.box_input{
    display: flex;
    text-align: center;
    justify-content: center;
    margin-bottom: 100px;
}

input{
    font-size: 80px;
    font-family: 'Jost', sans-serif;
    outline: none;
    width: 550px;
    height: 116px;
    margin-top: 60px;
}