@import url('fonts.css');

input.parsley-error,
select.parsley-error,
textarea.parsley-error {
  background-color: #FFF;
  border: 3px solid #fd7676;
}

.parsley-errors-list {
  margin: 2px 0 3px;
  padding: 0;
  list-style-type: none;
  font-size: 1.2em;
  line-height: 0.9em;
  opacity: 0;
  color: #fd7676;
  font-family: 'Jost', sans-serif;

  transition: all .3s ease-in;
  -o-transition: all .3s ease-in;
  -moz-transition: all .3s ease-in;
  -webkit-transition: all .3s ease-in;
}

.parsley-errors-list.filled {
  opacity: 1;
}